/* normalization */
* {
   box-sizing: border-box;
   margin: 0;
   color: $font-white;
}
body {
   &.lock {
      overflow: hidden;
   }
}
h1, h2, h3, h4, h5, h6 {
   margin: 0;
   font-family: 'Playfair Display', serif;
}
p, span, a {
   font-family: 'PT Sans', sans-serif;
   color: inherit;
}
a {
   display: inline-block;
   text-decoration: none;
   color: inherit;
}
ul {
   margin: 0;
   padding: 0;
   list-style-type: none;
}