// font var
$font-white: #ffffff;
$font-gray: #969696;
$font-dark: #000000;

$pt-sans: 'PT Sans', sans-serif;
$pf-display: 'Playfair Display', serif;

// layout var
$white: #ffffff;
$white-opacity: hsla(0, 0%, 100%, 0.4);
$main-black: #000000;
$main-gray: #0F0F0F;
$elem-gray: #191B1C;